.navbar-right{
     padding-right: 2rem;
 }


.divider_row{
    border-bottom:1px solid #aaa; margin-bottom:10px;
}

.even_tab .divider_row:last-child{
    border-bottom:none;
}
.submit{
    margin-top: 2rem;
}
list ul li{
    list-style: none;
}
.list ul li:before{

    content:"• ";
}
.list ul{
    list-style: none;
}